{
  "presets": [
    [
      "env", {
      "targets": {
        "browsers": [
          "last 2 Chrome versions"
        ]
      },
      "modules": false
    }]
  ],
  "plugins": [
    [
      "transform-incremental-dom", {
        "moduleSource": "incremental-dom"
      }
    ],
    ["transform-class-properties"]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "tests/**/*"
          ]
        }]
      ]
    },
    "production": {
      "presets": ["babili"]
    }
  }
}
