{
  "presets": [
    [
      "env", {
      "targets": {
        "browsers": [
          "last 2 Chrome versions"
        ]
      }
    }]
  ],
  "plugins": [
    [
      "transform-incremental-dom", {
        "moduleSource": "incremental-dom"
      }
    ],
    ["transform-class-properties"]
  ]
}
