:host {
  contain: content;
  font-family: Roboto, Noto, sans-serif;
  display: inline-block;
}

label {
  display: flex;
  align-items: center;
}

#checkbox {
  margin: .5rem .25rem .5rem .5rem;
  user-select: none;
}
